// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg
exec hud_customizations.cfg
exec hud_crosshair.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

// FOR XBOX CERT
//sv_unlockedchapters 99
