// ====================================================================
// Default valve.rc contents
// ====================================================================

// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

sv_unlockedchapters 99

// ====================================================================
// HUD settings
// ====================================================================

// General settings
exec hud_customizations.cfg                 // Apply HUD aliases for customizations
hud_reloadscheme                            // Reload HUD scheme to apply settings
